.auth-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  background: #ffffff; /* White background for card */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-width: 950px; /* Optional: control width */
  width: 100%; /* Take full available width */

    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  .auth-header {
    margin-bottom: 1rem;
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      color: black;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .input-wrapper {
    position: relative;
    width: 100%;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  .input,
  textarea {
    height: 18px !important;
  }
  .group-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .calendar-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto; /* allow clicking */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar-icon {
    font-size: 20px;
    color: #888888; /* normal color */
    transition: color 0.3s ease;
  }
  .calendar-toggle:hover .calendar-icon {
    color: #007bff; /* hover color */
  }

  .button {
    width: 200px !important;
  }
  .button-container {
    margin-left: 420px;
    margin-top: 1rem; /* Optional: Add spacing above the button */
  }
}

form {
  max-width: 800px !important;
}
